@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    margin: 0 auto;
    background-color: #a3b99f;
    font-family: 'Quicksand', sans-serif;
}

h1, #minion-search {
    text-align: center;
    color: white;
    font-size: 40px;   
}

button, #input {
    margin: 5px;
    padding: 10px;

    border: none;
    border-radius: 45px;
}

#input {
    width: 250px;
    text-align: center;
}

::placeholder {
    font-style: italic;
}

#fetch-btn {
    width: 150px;
    color: white;
    background-color: #253B21;
}

#random-btn {
    margin-top: 10px;

    width: 190px;
    color: white;
    background-color: #778774;
}

#content {
    width: 500px;
    margin: 0 auto;
}

#minion-entry {
    background-color: white;
    margin: 90px 25px;
    padding: 10px 30px 30px;
    border-radius: 15px;

    font-size: 14px;
    
    box-shadow: 
    0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1);
}

#minion-entry > img {
    float: left;
    margin-left: -70px;
    margin-top: -70px;
    padding-right: 10px;
}